* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/questionMarksBg.png);
  background-repeat: repeat;
  background-size: 100%;
  background-position: center top;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure body takes up full viewport height */
}

.startSection {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 10rem;
  border-radius: 5px;
}

.startBtn {
  background-color: #4d5b9e;
  padding: 0.5rem 2rem;
  color: white;
  border-radius: 5px;
  border: 1px solid black;
}

.radio-button {
  border: 1px red solid;
}

.radio-button input {
  display: none;
}
